<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />


<style>
    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        width: 100%;
    }

    nav {
        width: 80%;
        margin: 0 auto;
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a.title {
        scale: 1.2;
        /* font-weight: bold; */
        letter-spacing: 1px;
    }

    nav div {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    nav a {
        color: #000;
    }
</style>

<nav>
    <a href="/" class="title">Khatabook</a>

    <div>
        <a href="/">Home</a>
        <a href="/create-new-hisab">Create New Hisab</a>
    </div>
</nav>